<?xml version="1.0" encoding="utf-8"?> 
<configuration>
  <system.webServer>
    <!-- Rewrite rules for Angular routing -->
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuration to serve JSON files correctly -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <!-- Enable detailed error messages for debugging -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Disable custom errors for more informative error messages -->
    <customErrors mode="Off" />

    <!-- Security settings to remove the server header -->
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
