# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - usuarioWeb

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present
      
      # CORREÇÃO CRÍTICA 1: Aponta para a pasta 'browser'
      # Isso evita o erro 403 Forbidden que você teve no começo
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./dist/projetoUsuariosWeb/browser

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: ./dist
      
      # CORREÇÃO 2: Nome do App correto (usuarioWeb)
      # CORREÇÃO 3: Usando o Secret longo que vimos na sua imagem
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'usuarioWeb'
          slot-name: 'Production'
          package: ./dist
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_544D942C29C446929BDE6299B747130D }}
